.seccion-principal {
    background-image: url(../assets/Gemini_Generated_Image_ic5ntjic5ntjic5n.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 15px;
    height: 90vh;
    color: white;
    margin: 0;
}

