/* ===== NAVBAR ===== */

.nav {
    display: flex;
    position: fixed;
    top: 0;
    width: auto;
    left: 0;
    right: 0;
    flex-direction: column; 
    padding: 0;
    box-shadow: var(--shadow);
    z-index: 1000;
    justify-content: space-between;
    font-weight: bold;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    cursor: pointer;
    
}

.ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    align-items: center;
    
}

.li {
    display: inline-block;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: all 0.3s ease;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    transform: translateY(-2px);
}

